* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.hero
{
    padding: 2rem;
}

#destinations {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    gap: 1rem;
}

.form
{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    gap: 1rem;
}

.form-fields
{
  display: grid;
  gap: 1rem;
  max-width: 400px;
}

.field
{
  display: grid;
  grid-template-columns: 180px 1fr;
  align-items: center;
  gap: 0.5rem;
}

.checkbox
{
  justify-self: end;
}


.icon
{
    display: none;
}

@media (min-width: 768px)
{
    #destinations
    {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .form
    {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .form-fields
    {
          max-height: 60px;     /* Jeg la den her siden den får flere fields til å forsvinne i mobil-modus */
    }

    .icon
    {
        display: block;
        grid-column: span 2;
    }
}
