* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.hero
{
    padding: 2rem;
}

#destinations {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    gap: 1rem;
}

.form
{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    gap: 1rem;
}

.icon
{
    display: none;
}

@media (min-width: 768px)
{
    #destinations
    {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .form
    {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .icon
    {
        display: block;
        grid-column: span 2;
    }
}
