/* body {
    background-color: var(--color-primary);
}

header {
    background-color: var(--color-background);
    color: var(--color-text);
    display: flex;
    flex-direction: column;
}

nav ul {
    display: flex;
    flex-direction: column;
    list-style: none;
}

a:hover,
a:focus-visible {
    color: var(--color-accent);
}

footer {
    background-color: var(--color-background);
    color: var(--color-text);
    display: flex;
    flex-direction: column;
} */

/*
Hans notater.

Siden har fungerende href linker i header/footer som navigerer gjennom siden
og tar deg til de spesifikke elementer du trykker på.
Vi har veldig enkle hover og fokus på a href linker med farge endring 
og løft hvor vi har brukt en helt enkel transform for tydelig markering uten at det er for mye. 
Jeg har også lagt inn en media querie for reduced motion som stopper bevegelse 
på alle elementer som har.
Vi har brukt en variasjon av flex og grid ettersom hva vi synes passet best i hver seksjon.
Vi har valgt å bruke breakpoint fra en tidligere oppgave som vi synes fungerer godt
og følger standard størrelser.
Vi har jobbet mobile-first og brukt media querie for desktop layout. 
Vi har gått for ett minimalistisk design/layout og fokusert på responsivitet 
og smooth overgang mellom skjerm størrelser.
Også passet på å følge oppgave-tekstens wireframes nøye.


*/